
@{
    ViewData["Tittle"] = "All user";
}

@{
    Layout = "_LayoutAdmin";

}

@model IEnumerable<RMSpassengers>

<div class="main-content">
    <section class="section">

        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-2">
                    <table class="table">
                        <span class="alert-success">@ViewBag.success</span>
                        <thead class="bg-primary">
                            <tr >
                                <th class="text-white">id</th>
                                <th class="text-white">Name</th>
                                <th class ="text-white">Password</th>
                                <th class="text-white">Role</th>
                                <th class="text-white">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var data in Model)
                            {
                                <tr class="bg-success">
                                    <td class="text-white">@data.Passenger_Id</td>
                                    <td class="text-white">@data.User_name</td>
                                    <td class="text-white">@data.Password</td>
                                    <td class="text-white">@data.Role</td>
                                    <td>
                                        <a asp-action="Update_user" class="btn btn-primary text-white" asp-route-id="@data.Passenger_Id">update</a>
                                        <a asp-action="delete_user" class="btn btn-danger text-white" asp-route-id="@data.Passenger_Id">Delete</a>

                                    </td>                                                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>
</div>



