@model Railway_Management_System.Models.compositeModel


@{
    ViewBag.TrainData = Model; // Pass the model data to ViewBag
    var Train = ViewData["Train"] as List<trainMaster>;
    var City = ViewData["City"] as List<citiesAndStates>;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Railway_Management_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Railway_Management_System.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-white p-2" id="navBg">
            <div class="container-fluid">
                <a class="navbar-brand" asp-action="Index"><img src="/images/webisiteLogo.png" class="img-fluid" id="navLogo" /></a>

                <button class="navbar-toggler" type="button" id="toggelButton" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <i class="fas fa-bars" id="togglerIcon"></i>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav mx-lg-5 justify-content-between" id="mobileNavlinkMargin">
                        <li class="nav-item">
                            <a class="nav-link ms-3 text-black" asp-action="Index" style="font-weight: 400;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  ms-3  text-black" href="#" style="font-weight: 400;">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ms-3   text-black" href="#" style="font-weight: 400;">Privacy Policy</a>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link ms-3 dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" style="font-weight: 400;">Dropdown</a>
                            <ul class="dropdown-menu" id="dropdownBg">
                                <li><a class="dropdown-item text-black" id="dropdownLink" href="#" style="font-weight: 400;">Link</a></li>
                                <li><a class="dropdown-item text-black" id="dropdownLink" href="#" style="font-weight: 400;">Another link</a></li>
                                <li><a class="dropdown-item text-black" id="dropdownLink" href="#" style="font-weight: 400;">A third link</a></li>
                            </ul>
                        </li>
                        @if (string.IsNullOrEmpty(Context.Request.HttpContext.Session.GetString("userName")))
                        {
                            <li class="nav-item">
                                <a class="nav-link  ms-3  text-black" asp-action="Signup" style="font-weight: 400;">Sign up</a>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Context.Request.HttpContext.Session.GetString("userName")))
                        {
                            <li class="nav-item">
                                <a class="nav-link  ms-3 text-black" asp-action="user_logout" style="font-weight: 400;">Logout</a>
                            </li>
                        }

                        @if (!string.IsNullOrEmpty(Context.Request.HttpContext.Session.GetString("userName")))
                        {
                            <li class="nav-item">
                                <a class="nav-link  ms-3 text-black" asp-action="userprofile" style="font-weight: 400;">Profile</a>
                            </li>
                        }



                    </ul>
                </div>








            </div>
        </nav>
    </header>

    <div class="container-fluid bg-light mt-3" id="section1">
        <ul class="nav justify-content-center mt-0">
            <li class="nav-item">
                <a class="nav-link p-lg-2" id="HomeLinks" asp-action="trainTimings">Train Timings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-lg-2" id="HomeLinks" asp-action="stationSchedule">Station Schedule</a>

            </li>
            <li class="nav-item">
                <a class="nav-link p-lg-2" id="HomeLinks" href="#">My Bookings</a>

            </li>
        </ul>

        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-md-3 p-3 mb-5" style="background-color: darkgreen; border-radius: 15px;">
                    <div class="conntainer d-flex justify-content-center mb-2">
                        @if (string.IsNullOrEmpty(Context.Request.HttpContext.Session.GetString("userName")))
                        {
                            <a asp-action="Signin" class="btn btn-outline-light" id="authBtn">Sign in</a>
                        }
                        else
                        {
                            <a asp-action="passengerBooking" class="btn btn-outline-light btn-sm">
                                Welcome,
                                @Context.Request.HttpContext.Session.GetString("userName")
                            </a>

                        }
                        <a href style="font-weight: 500; border-right: solid white 1px;" class="nav-item nav-link p-2">
                            <i class="fab fa-instagram text-light"></i>
                        </a>
                        <a href style="font-weight: 500;" class="nav-item nav-link"><i class="fab fa-twitter text-light"></i></a>
                        <a href style="font-weight: 500; border-left: solid white 1px;" class="nav-item nav-link">
                            <i class="fab fa-youtube text-light"></i>
                        </a>
                    </div>
                    <div class="d-grid">
                        <button type="button" class="btn btn-light btn-block" id="dgridbtns"
                                data-bs-toggle="modal" data-bs-target="#myModal">
                            File a complaint
                        </button>
                    </div>


                    <form method="POST" enctype="multipart/form-data" asp-action="calculateFare">
                        <div class="container-fluid p-5">
                            <h3 class="text-center text-light" mt-1" id="">Calculate Fare</h3>


                            <select class="form-control bg-light btn-block" asp-for="selectTrain" id="fareDropdown">
                                <option class="text-center">----Select Train----<i class="fab fa-arrow-down"></i></option>
                                @if (Train != null && Train.Any())
                                {
                                    @foreach (var passenger in Train)
                                    {
                                        <option class="text-center"><i class="fab fa-arrow-down"></i>@passenger.trainName</option>
                                    }

                                }
                                else
                                {
                                    <p>No data available.</p>
                                }

                            </select>
                            <span class="text-danger" asp-validation-for="selectTrain"></span>
                            <br />
                            <select class="form-control bg-light btn-block" asp-for="fromCity" id="fareDropdown">
                                <option class="text-center">----From----<i class="fab fa-arrow-down"></i></option>
                                @if (City != null && City.Any())
                                {
                                    @foreach (var city in City)
                                    {
                                        <option class="text-center"><i class="fab fa-arrow-down"></i>@city.city</option>
                                    }

                                }
                                else
                                {
                                    <p>No data available.</p>
                                }
                            </select>

                            <span class="text-danger" asp-validation-for="fromCity"></span>
                            <br />


                            <select class="form-control bg-light btn-block" asp-for="toCity" id="fareDropdown">
                                <option class="text-center">----To----<i class="fab fa-arrow-down"></i></option>
                                @if (City != null && City.Any())
                                {
                                    @foreach (var city in City)
                                    {
                                        <option class="text-center"><i class="fab fa-arrow-down"></i>@city.city</option>
                                    }

                                }
                                else
                                {
                                    <p>No data available.</p>
                                }
                            </select>
                            <span class="text-danger" asp-validation-for="toCity"></span>
                            <div class="container mt-lg-4 text-center">
                                <button class="btn btn-primary" id="authBtn" type="submit">Calculate</button>
                            </div>


                        </div>
                    </form>


                    <div class="container">
                        <h3 class="text-center text-light" mt-1" id="">Book Your Ticket</h3>

                        <form method="post" asp-action="bookAticket" enctype="multipart/form-data">
                            <div class="row shadow-sm mt-lg-4 text-center">
                                <div class="form-group">
                                    <label for="" class="text-white">Passenger Name</label>

                                    <input class="form-control" id="fareDropdown" asp-for="passengerName" placeholder="Passenger Name" />
                                    <span class="text-danger" asp-validation-for="passengerName"></span>

                                </div>

                                <div class="form-group">
                                    <label for="" class="text-white">Passenger Age</label>

                                    <input class="form-control" id="fareDropdown" type="date" asp-for="age" placeholder="Passenger Age" id="bookingField" />
                                    <span class="text-danger" asp-validation-for="age"></span>

                                </div>

                                <div class="form-group">
                                    <label for="male" class="text-white">Male</label>
                                    <input type="radio" value="Male" placeholder="Specify Gender" asp-for="gender" id="male" />
                                    <label for="female" class="text-white">Female</label>

                                    <input type="radio" value="Female" placeholder="Specify Gender" asp-for="gender" id="female" />
                                    <br />
                                    <span class="text-danger" asp-validation-for="gender"></span>

                                </div>

                                <div class="form-group">
                                    <label for="" class="text-white">Total Passengers</label>

                                    <input type="number" min="1" placeholder="Total Passengers" id="fareDropdown" class="form-control" asp-for="totalPassengers" />
                                    <span class="text-danger" asp-validation-for="totalPassengers"></span>

                                </div>

                                <div class="form-group">
                                    <label for="" class="text-white">Departure Date</label>

                                    <input type="date" id="fareDropdown" class="form-control" asp-for="dateOfTravel" />
                                    <span class="text-danger" asp-validation-for="dateOfTravel"></span>

                                </div>

                                <div class="form-group">
                                    <label for="" class="text-white">Select Train</label>
                                    <br />
                                    <center>
                                        <select class="form-control bg-light btn-block" asp-for="trainCategory" id="fareDropdown">
                                            <option class="text-center">----Select Category----<i class="fab fa-arrow-down"></i></option>
                                            @if (Train != null && Train.Any())
                                            {
                                                @foreach (var passenger in Train)
                                                {
                                                    <option class="text-center"><i class="fab fa-arrow-down"></i>@passenger.trainCategory</option>
                                                }

                                            }
                                            else
                                            {
                                                <p>No data available.</p>
                                            }

                                        </select>
                                    </center>
                                    <span class="text-danger" asp-validation-for="trainCategory"></span>

                                </div>

                                <div class="form-group">
                                    <label class="text-white">Train Number</label>
                                    <select class="form-control bg-light btn-block" asp-for="trainNumber" id="fareDropdown">
                                        <option class="text-center">----Select Train----<i class="fab fa-arrow-down"></i></option>
                                        @if (Train != null && Train.Any())
                                        {
                                            @foreach (var passenger in Train)
                                            {
                                                <option class="text-center"><i class="fab fa-arrow-down"></i>@passenger.trainNumber, @passenger.trainName</option>
                                            }

                                        }
                                        else
                                        {
                                            <p>No data available.</p>
                                        }

                                    </select>
                                    <span class="text-danger" asp-validation-for="trainNumber"></span>

                                </div>
                            </div>
                            <div class="container mt-lg-4 text-center">
                                <button class="btn btn-primary" id="authBtn" type="submit">Confirm</button>
                            </div>
                        </form>
                    </div>





                </div>

                <div class="col-md-9 bg-white mb-5" id="section2">
                    <main role="main">
                        @RenderBody()
                    </main>
                </div>
            </div>


            <div class="container-fluid">
            </div>


        </div>
    </div>





    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted mt-4">
        <!-- Section: Social media -->
        <section style="background-color: navy;" class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span class="text-white">Connect with us:</span>
            </div>
            <!-- Left -->
            <!-- Right -->
            <div>
                <a href="" class="me-4">
                    <i class="fab fa-instagram" style="color: #F4C430;"></i>
                </a>
                <a href="" class="me-4">
                    <i class="fab fa-twitter" style="color: #F4C430;"></i>
                </a>
                <a href="" class="me-4">
                    <i class="fab fa-youtube" style="color: #F4C430;"></i>
                </a>

            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Indian Railways
                        </h6>
                        <p>
                            Here you can use rows and columns to organize your footer content. Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Services
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Angular</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">React</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Vue</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Laravel</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Quick Links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Pricing</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Settings</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Orders</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            info@example.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
